body {
    margin: 0px;
    padding: 0px;
  background-color: beige;
}

#login {

    width: 400px;
    margin: auto;
    text-align: center;
    background-color: blanchedalmond;
}

#h1-login {

 padding-bottom: 20px;
 
}

.label-usuario {
    margin-left: -11px;
}


