body {
    margin-left: 30px;
    
}

#div-login {

    width: 400px;
    margin: auto;
    text-align: center;
    background-color: beige;
}

#h1-login {

 padding-bottom: 20px;
 
}

.label-senha {

    padding-right: 19px;
}

.lembrar-senha {
 
}

#login {

   margin-left: 66px;
   
}

.leftcolumn {
    float: left;
    width: 52%;
}

.titulo-home {
    padding-left: 30px;
}

.rightcolumn {
    float: left;
    width: 25%;
   
}

.rigthButton {
    float: right;
    width: 15%;
    padding-top: 20px;
}

.div-form {
    padding-top: 100px;
    padding-left: 110px;
}

.nome {
  float: left;
  margin-right: 80px;
}

.quantidade {
    float: left;
    margin-right: 80px;
}

.validade {
    float: left;
    margin-right: 90px;
}

.tipoProduto {
    float: left;
    margin-right: 45px;
    margin-bottom: 20px;
}

.valor {
    float: left;
    margin-right: 83px;
    margin-bottom: 20px;
}   
.label-valor{
    padding-right: 13px;
}

.emEstoque {
    float: left;
    margin-right: 135px;
   
}

.descricao {
    float: left;
}

label {
    padding-right: 10px;
}

.button-salvar{

    margin-left: 600px;
    margin-top: 140px;
}

.div-registros {
    padding-left: 110px;
    margin-top: 60px;
}

.linha-alterada {

    padding-left: 600px;
    
  
}

.rightcolumn-alterar {

    float: left;
    width: 25%;
    padding-top: 40px;

}

.div-table {
    padding-top: 150px;
    padding-left: 110px;
  
 
}

table, th, td{
    border: 1px solid black;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 86%;
}


