body {
    margin: 0px;
    padding: 0px;
}

#login {

    width: 400px;
    margin: auto;
    text-align: center;
    background-color: beige;
}

#h1-login {

 padding-bottom: 20px;
 
}

.label-senha {

    padding-right: 12px;
}

.lembrar-senha {
 
}
#button {
   margin-left: 66px;
}


