body {
    margin-left: 30px;
    background-color: #91ABF0;
    
}

#div-login {

    width: 400px;
    margin: auto;
    text-align: center;
    background-color: #3B57F4;
}

#h1-login {

 padding-bottom: 20px;
 
}

.label-senha {

    padding-right: 19px;
}

.lembrar-senha {
 
}

#login {

   margin-left: 66px;
   margin-bottom: 10px;
   background-color: #5CC6F0;
   border: #5CC6F0;
   
}

.leftcolumn {
    float: left;
    width: 52%;
}

.titulo-home {
    padding-left: 30px;
}

.rightcolumn {
    float: left;
    width: 25%;
   
}

.rigthButton {
    float: right;
    width: 15%;
    padding-top: 20px;
}

.div-form {
    padding-top: 100px;
    padding-left: 110px;
}

#button-sair {
    margin-left: 50%;
    background-color: #FB4340;
    border: #FB4340;
    
}

.nome {
  float: left;
  margin-right: 51px;
}

.quantidade {
    float: left;
    margin-right: 50px;
}

.validade {
    float: left;
    margin-right: 70px;
}

.tipoProduto {
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

.valor {
    float: left;
    margin-right: 52px;
    margin-bottom: 20px;
}   
.label-valor{
    padding-right: 13px;
}

.emEstoque {
    float: left;
    margin-right: 105px;
   
}

.descricao {
    float: left;
}

label {
    padding-right: 10px;
}

.button-salvar{

    margin-left: 550px;
    margin-top: 140px;
  
}

.div-registros {
    padding-left: 110px;
    margin-top: 60px;
}

.linha-alterada {

    padding-left: 600px;
    
  
}

.rightcolumn-alterar {

    float: left;
    width: 25%;
    padding-top: 40px;

}

.div-table {
    padding-top: 150px;
    padding-left: 110px;
  
 
}

.row {
    flex-direction: row;
}

table, th{
    border-collapse:collapse;
	border:1px solid black;
    font-family: arial, sans-serif;
    width: 86%;
    
   
}
table, td {
    widows: 25px;
	height:25px;
	border:1px solid black;

}


